<!-- 组合小车底盘与摄像头与雷达 -->
<robot name="my_car_assem" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 惯性矩阵 -->
    <xacro:include filename="head.xacro" />
    <!-- 底盘 -->
    <xacro:include filename="car_base.urdf.xacro" />
    <xacro:include filename="car_camera.urdf.xacro" />
    <xacro:include filename="car_laser.urdf.xacro" />
    <!-- 运动控制 -->
    <xacro:include filename="gazebo/move.xacro" />
    <!-- 雷达 -->
    <xacro:include filename="gazebo/lidar.xacro" />
    <!-- 摄像头 -->
    <xacro:include filename="gazebo/camera.xacro" />
    <!-- 深度摄像头 -->
    <xacro:include filename="gazebo/kinect.xacro" />

</robot>