<launch>
    <!-- 运行rviz -->
    <!-- 使用坐标变换 -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" /> 
    <node pkg="rviz" type="rviz" name="rviz" />
    <!-- 设置地图的配置文件 -->
    <arg name="map" default="house_map.yaml" />
    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation)/map/$(arg map)"/>
    <!-- 启动AMCL节点 -->
    <include file="$(find navigation)/launch/amcl.launch" />
    
</launch>
